@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');
/***********
GENERIC RULE
************/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --grey:#7A7D81;
    --darkGrey:#282828;
    --green:#ADFF2F;
    --white:white;
    --unhover-color:#717171;
    --botton-background:#080b12;
    --over-color:white;
    --padding-page:20px
}
body{
    font-family: 'Open Sans', sans-serif;}
img{
    max-width: 100%;
}

ul,
ol,
menu,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}
.row{
    display: flex ;
}
.rounded{
    border-radius: 50%;
}
/**********
MARKUP PAGE
**********/
header{
    background-color: black;
    overflow: hidden;
    flex-basis: 230px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main{
    background-color: #141922;
    overflow-y: auto;
    flex-basis: calc( 100% - 230px);
}

header, main{
    height: calc(100vh - 90px);
}

aside{
    height: 90px;
    background-color: var(--darkGrey);
}

.screen-container{
    display: flex;
}

header,.main-container,aside{
    padding: var(--padding-page);
}
/**********************
MEDIAQUERY MARKUP PAGE
***********************/
@media screen and (max-width: 552px ) {
    header{
        flex-basis: 50px;
    }
    main{
        flex-basis: calc( 100% - 50px);
    }
}

/****
ASIDE
*****/

.player-song{
    width: 40%;
}
/* LEFT SECTION  */
.row-player{
    justify-content: space-between;
}

.cover-song{
    align-items: center;
    display: flex;
    color: var(--grey)
}

.cover-song-img img{
    width: 42px;
}

.song-info{
    padding:0 1em;
    font-size: 14px;
}
.song-artist{
    color: var(--white);
    font-weight:bold;
}

.cover-song-button{
    align-content: center;
    display: flex;
    gap: 12px;
}

/* CENTRAL SECTION   */

.player-song{
    flex-basis: 35%;
}

.playerbutton{
    gap: 15px;
    display: flex;
    justify-content: center;
    font-size: 28px;
    color: var(--white);
}


.player-time{
    gap: 10px;
    color:var(--white);
    display: flex;
    align-items:center;
}
.progress-time{
    width: 40%;
    background-color:var(--white);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.time-line{
    flex-grow: 1;
    background-color: var(--grey);
}

.style-bar{
    height: 4px;
    border-radius: 50px;
}
.play{
    margin: 0 10px;
}

.prova{
    display:none !important;
    color: var(--green);
}

/* RIGHT SECTION  */

.share-song{
    gap: 8px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color:var(--white);
}
.volume{
    display: flex;
    gap: 6px;
    width: 50%;
}


.volume-slider{
    width: 100px;
    align-self:center ;
    background-color: var(--grey);
}


/* HOVER ASIDE SECTION */
.song-track:hover{
    text-decoration: underline;
}
.cover-song-button i:hover{
    color:var(--white);
}
.player-time:hover .progress-time,
.volume:hover .progress-time{
    background-color: var(--green);
    animation: progress 3s linear;
}

.player-time:hover .prova,
.volume:hover .prova
{     /*  CAMBIARE CLASSE PROVA*/
    display: block !important; 
}
.play:hover{
    transform:scale(1.2);
}

@keyframes progress {
    0%{
        width: 0%;
    }
    100%{
        width: 40%;}
}

/*****************
MEDIA QUERY ASIDE
******************/

@media screen and (max-width:878px) {
    .row-player{
        gap: 10px;
    }
}
@media screen and (max-width: 639px) {
    .cover-song-button{
        flex-wrap: wrap;
    }
    .cover-song,
    .player-song,
    .share-song{
        width: calc(100% / 3);
    }
    
}


/*************
HEADER SECTION
**************/

/* LOGO */

.logo-s{
    display: none;
}

/* HEADER BUTTON */
.header-button{
    color:var(--white);
}
.home,
.serch,
.library{
    display: flex;
    padding: 6px;
    opacity: 0.5;
    gap: 10px;
}

.home img,
.serch img,
.library img{
    width: 20%;
}

.button-text{
    align-self: center;
}
/******************
MEDIA QUERY HEADER
*******************/
@media screen and (max-width:552px) {
    header{
        padding: 7px;
    }
    .logo-s{
        display: block;
    }
    .logo-xl{
        display: none;
    }
    .home img,
    .serch img,
    .library img{
        width: 100%;
    }
.button-text{
        display: none;
    }
}


/* HOVER HEADER BAR */
.home:hover,
.serch:hover,
.library:hover{
    border-left: 2px solid var(--green);
    opacity: 1;
}

/* PLAYLIST */

.playlist{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}


.playlist-title{
    color:var(--white);
    text-transform: uppercase;
    font-weight: bold;
}

.new-playlist{
    display: flex;
}

.add-playlist{
    height: 37px;
    width: 37px;
    background-color:#A3A3A3;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    font-weight: bold;
    color: #6F6F6F;
}
.add-playlist-text{
    margin-left:13px;
    line-height: 37px;
}


.ul-playlist{
    display: flex;
    gap:26px ;
    flex-wrap: wrap;
}


/*******************
MEDIAQUERY PLAYLIST
*******************/
@media screen and (max-width:552px) {
    .playlist{
        display: none;
    }
}


/* BOTTOM PLAYLIST*/

.install-app{
    margin-top: auto;
    padding-bottom:12px;
    display: flex;
    gap:11px;
    color:var(--white);
    border-bottom: 1px solid var(--white);
}


.profile{
    min-height: 30px;
    gap: 9px;
    display: flex;
}

.profile-img{
    background-color: #808080;
    height: 25px;
    width: 25px;
    border: 1px solidvar white;
    border-radius: 50%;
}

.name-profile{
    color:var(--white);
    font-weight: bold;
}


/* potrei agogingere una classe a questi elementi con queste proprietà */


.add-playlist-text,
.install-txt,
.ul-playlist li a{
    color: var(--unhover-color);
    font-weight: bold;
}

.add-playlist-text:hover,
.install-txt:hover,
.ul-playlist li a:hover{
    color: var(--over-color);
}

/**************************
MEDIA QUERY BOTTOM  HEADER
***************************/
@media screen and (max-width:552px) {
    .install-app{
        border-bottom: none;
    }
    .install-txt{
        display: none;
    }
    .name-profile{
        display: none;
    }
    .profile,
    .install-app{
        justify-content: center;
    }
}

/****
MAIN
*****/

/* TOP MAIN */

.button{
    display: flex;
    justify-content: flex-end;
    background-color: var(--botton-background);
    padding: 28px 0;
    position: sticky;
    top: 0;
    z-index: 999;
    opacity: 0.9;
}

.button>a{
    border: 1px solid white;
    border-radius: 50px;
    color:var(--white);
    padding: 15px;
    margin: 0 20px;
    text-transform: uppercase;
}

.button>a:hover{
    scale: 1.1;
    background-color: #0c1529;
    transition: 1s;
}

.header-nav{
    font-weight: bold;
    padding: 23px 0;
    margin: 0 auto;
    font-size: 14px;
    color:var(--unhover-color);
    text-transform: uppercase;
    gap: 25px;
    max-width: 630px;
    display: flex;
    flex-wrap: wrap;
}

.nav-ul{
    display: contents;
}

.nav-li{
    position: relative;
}

/* .nav-li::after{
    content: "";
    display: block;
    background-color: var(--green);
    height: 2px;
    width: 30px;
    position: absolute;
    left: 50%;
    margin-top: 4px;
    transform: translate(-50%, -50%);
    display: none;
}
.nav-li:hover.nav-li::after{
    display: block;
} */

.active{
    background-color: var(--green);
    height: 4px;
    width: 100%;
    position: absolute;
    left: 50%;
    margin-top: 15px;
    transform: translate(-50%, -50%);
    top: 50%;
    display: none;
    animation: active 1s cubic-bezier(.17,.67,.91,.25);
}
@keyframes active {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;}
}

.nav-li:hover .active{
    display: block;
}
.nav-li:hover{
    color: var(--white);
}
/* MEDIA QUERY TOP MAIN */
@media  screen and (max-width:878px) {
    .header-nav{
        justify-content: center;
    }
}

/* RECENT PLAYED */
.slider{
    margin: 15px 0 ;
}
.title{
    color:var(--white);
    font-size: 32px;
    margin-bottom: 18px;
}

.album-carousel{
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
}

.album{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc((100% / 6 )  - 15px);
}

.album>p{
    text-align: center;
}


@media screen and (max-width: 878px) {
    .album{
        width:calc((100% /  4) - 9px);
    }
    
    .album-carousel{
        gap: 9px;
        justify-content: flex-start;
    }
}
@media screen and (max-width: 639px) {
    .album{
        width: calc(50% - 9px);
    }
}

.album-title{
    margin: 23px 0 13px ;
    color: var(--white);
    font-size: 18px;
    font-weight: bold;
}
.album-subtitle{
    color: var(--grey);
}


.album-img{
    position: relative;
}


.album img:hover{
    opacity: 0.5;
}
.album i{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 90px;
    color:var(--white);
    position: absolute;
    display: none;
}
.album:hover .icon{
    display: block;
}
/*  chiedere se è meglio ripetere album-img con le stesse proprietà di una classe che sta più sopra  tenendo il css diviso per
zone o raggruppare le proprietà */

.subtitle-section{
    font-weight: bold;
    font-size: 18px;
    color: var(--grey);
    padding: 10px 0;
}


