@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');
/***********
GENERIC RULE
************/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --grey:#7A7D81;
    --darkGrey:#282828
}
body{
    font-family: 'Open Sans', sans-serif;}
img{
    max-width: 100%;
}

ul,
ol,
menu,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}
.row{
    display: flex;
}

/**********
MARKUP PAGE
**********/
header{
    background-color: black;
    overflow: hidden;
    flex-basis: 230px;
    display: flex;
    flex-direction: column;
}

main{
    background-color: #141922;
    overflow: auto;
    flex-basis: calc( 100% - 230px);
}

header, main{
    height: calc(100vh - 90px);
}

aside{
    height: 90px;
    background-color: var(--darkGrey);
}

.screen-container{
    display: flex;
}

header,main,aside{
    padding: 20px;
}
/**********************
MEDIAQUERY MARKUP PAGE
***********************/
@media screen and (max-width: 552px ) {
    header{
        flex-basis: 50px;
    }
    main{
        flex-basis: calc( 100% - 50px);
    }
}

/****
ASIDE 
*****/

/* LEFT SECTION */
.row-player{
    justify-content: space-between;
}

.cover-song{
    height: 42px;
    display: flex;
    color: var(--grey)
}

.song-info{
    margin:0 13px;
}

.cover-song-button{
    align-content: center;
    display: flex;
    gap:13px;
}


/* CENTRAL SECTION */

.player-song{
    flex-basis: 30%;
}

.playerbutton{
    gap: 22px;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    font-size: 28px;
    color: white;
}

.player-time{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.time-line{
    width: 100%;
    margin: 0 25px ;
    border-radius: 50px;
    height: 4px;
    background-color: var(--grey);
}

/* RIGHT SECTION */

.share-song{
    display: flex;
    padding: 4px;
    align-content: center;
    justify-content: space-between;
    font-size: 18px;
    color: white;
}
.volume{
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-grow: 1;


}
.volume-slider{
    flex-basis: 100%;
    background-color: var(--grey);
    border-radius: 20px;
    height: 4px;

}

/***************** 
MEDIA QUERY ASIDE 
******************/

@media screen and (max-width: 639px) {
    .cover-song-button{
        flex-wrap: wrap;
    }
    
}


.logo{
    min-height: 60px;
    background-color: red;
}

.header-button{
    min-height: 100px;
    background-color: blue;
}

.playlist{
    min-height: 300px;
    background-color: green;
}


.install-app{
    min-height: 30px;
    background-color: orange;
    margin-top: auto;
}

.profile{
    min-height: 30px;
    background-color: aqua;
}

@media screen and (max-width:552px) {
    header{
        padding: 7px;
    }
    
}















































/* 
.share-song{
    justify-content: flex-end;
    flex-shrink: 0;
    color: white;
    display: flex;
    align-items: center;
    flex-basis: 20%;
    font-size: 18px;
    gap:25px

}





.volume{
    display: flex;
    flex-grow: 1;
}
.volume-slider{
    height: 4px;
    width: 100%;
    background-color: var(--grey);
    border-radius: 20px;
    max-width: 117px;
} */